.carousel {
  text-align: center;
  margin-top: 30px;
}
.glide {
  margin-top: 40px;
}
.buttons-wacht {
  cursor: pointer;
  margin-left: 100px;
  display: flex;
  gap: 20px;
  margin-top: -80px;
  margin-bottom: 60px;
}
.button-now {
  cursor: pointer;
  font-weight: 600;
  color: #0c0e16;
  font-size: 18px;
  padding: 10px 24px;
  border-radius: 4px;
  background: #fed941;
  border: none;
}
.button-after {
  cursor: pointer;
  font-weight: 600;
  color: #fed941;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 24px;
  background-color: #0c0e16;
  border: 1px solid #fed941;
}
